body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
  background-color: #0056b3;
}

.prediction {
  text-align: center;
  margin-top: 20px;
}
.result {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.positive {
  background-color: #ffc107;
  border: 1px solid #ff9800;
}

.negative {
  background-color: #4caf50;
  border: 1px solid #388e3c;
  color: #fff;
}
